@import '~antd/dist/antd.css';
@import './Print.css';

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.full-height {
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

.ant-menu {
  margin-bottom: 48px;
}

.ant-layout-header {
  padding: 0;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background: #fff;
}
.ant-layout-header .antd-header-content {
  float: right;
}
.ant-layout-header .antd-header-content-item {
  padding: 0 12px;
  height: 100%;
  cursor: pointer;
  display: inline-block;
}

.ant-layout-sider-zero-width-trigger {
  top: 12px;
  z-index: 1;
}
