td.schrink {
  width: 20px;
  white-space: nowrap;
}
td.schrink button {
  margin-left: 5px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  word-break: normal;
}

:root .ant-table-column-sorter .anticon-caret-down,
:root .ant-table-column-sorter .anticon-caret-up {
  font-size: 16px;
}

/* .ant-table-thead th span {
  white-space: pre;
} */
.ant-table-column-sorter {
  margin-left: 0;
}
.ant-table-small {
  border-style: none;
}
